#--------[ LORENS OSMAN ]--------#


#--------[ starship_theLine ]

format = """
${custom.user}\
[━━](fg:black bold)\
${custom.dir}\
[━━](fg:black bold)\
${custom.git}\
[━━](fg:black bold)\
${custom.time}\
$fill\
$line_break\
$username\
[ ](fg:black bold)\
${custom.directory}\
[ ](fg:black bold)\
$git_branch\
[ ](fg:black bold)\
$time\
$cmd_duration\
$line_break\
$jobs\
$character
"""


#--------[CUSTOM COMMANDS]

[custom.directory]
description = "Replace the default directory command"
command = """echo "${PWD/$HOME/~}" """
style = "fg:bright-green "
format = "[  󰉋 $output]($style)"
when = "true"

[custom.dir]
description = "the line above custom directory "
command = """echo $(pwd | sed "s|$HOME|~|") | wc -m | tr -d '\\n' | xargs -I {} seq -s '━' {} | tr -d '[:digit:]' """
style = "fg:bright-green"
format = "[━━$output]($style)"
when = "true"

[custom.user]
description = "the line above username"
command = "echo $USER  2>/dev/null | wc -m | tr -d '\\n' | xargs -I {} seq -s '━' {} | tr -d '[:digit:]' "
style = "blue bold"
format = "[$output]($style)"
when = "true"

[custom.git]
description = "the line above branch name"
command = "branch=$(git rev-parse --abbrev-ref HEAD 2>/dev/null); remote=$(git rev-parse --abbrev-ref @{u} 2>/dev/null | sed 's|.*/||'); [ -n \"$remote\" ] && [ \"$branch\" != \"$remote\" ] && branch=\"$branch:$remote\"; echo \"$branch\" | wc -m | tr -d '\\n' | xargs -I {} seq -s '━' {} | tr -d '[:digit:]' | awk '{print $0 \"━━\"}'"
when = "git rev-parse --abbrev-ref HEAD 2>/dev/null"
shell = ["bash", "--noprofile", "--norc"]
style = "fg:yellow"
format = "[$output]($style)"


[custom.time]
description = "the line above time"
command = "date +%H:%M:%S  2>/dev/null | wc -m | tr -d '\\n' | xargs -I {} seq -s '━' {} | tr -d '[:digit:]' | awk '{print $0 \"━\"}'"
style = "red bold"
format = "[$output]($style)"
when = "true"

[custom.cmd_duration]
description = "the line above duration NOT IMPLEMENTED"
command = "date +%H:%M:%S  2>/dev/null | wc -m | tr -d '\\n' | xargs -I {} seq -s '━' {} | tr -d '[:digit:]' | awk '{print $0 \"━\"}'"
style = "red bold"
format = "[$output]($style)"
when = "true"


#--------[COMMANDS]

[username]
style_user = 'blue bold'
style_root = 'black bold'
format = '[$user]($style)'
disabled = false
show_always = true

[fill]
symbol="━"
style = "fg:black bold"

[line_break]
disabled = false

[character]
success_symbol ='[ ❯](bold green)'
error_symbol ='[✖ ](bold red)'

[cmd_duration]
format = '[ \($duration\)]($style)'
style = "fg:bright-red"
show_notifications = false
min_time_to_notify = 2_000

[time]
format = "[  $time]($style)"
style = "fg:red bold"
disabled = false

#--------[GIT COMMANDS]

[git_branch]
symbol = " "
style = "bold fg:yellow"
format = "[  $symbol$branch(:$remote_branch) ]($style)"


