#--------[ LORENS OSMAN ]--------#


#--------[ starship_theLine ]

format = """
$env_var\
${os}\
${username}${hostname}\
[ ](fg:dark-gray bold)\
${custom.directory}\
[ ](fg:gray bold)\
$git_branch\
$fill\
$cmd_duration\
$time\
$line_break\
$jobs\
$character
"""

[fill]
symbol="━"
style = "fg:black bold"

[line_break]
disabled = false

[env_var]
symbol = "╭╴"
variable = 'SHELL'
format = "[$symbol](grey)"
disabled = false

[character]
success_symbol ='[╰](white)[❯](green)'
error_symbol ='[╰](white)[](bold red)'

[os]
format = '[$symbol](white) '   
disabled = false

[os.symbols]
Windows = '[](blue)'
Arch = '[󰣇](blue)'
Ubuntu = '[](yellow)'
Macos = '[󰀵](white)'
Popos = '[](blue)'
Unknown = '[](red)'

[custom.directory]
description = "Replace the default directory command"
command = """echo "${PWD/$HOME/~}" """
style = "fg:bright-green "
format = "[ 󰉋 $output]($style)"
when = "true"

[username]
style_user = 'blue bold'
style_root = 'black bold'
format = '[$user]($style)'
disabled = false
show_always = true

[hostname]
ssh_only = true
format = '@[$hostname](bold blue)'
trim_at = '.local'
disabled = false

[cmd_duration]
format = '[ \($duration\)]($style)'
style = "fg:bright-red"
show_notifications = false
min_time_to_notify = 2_000

[time]
format = "[  $time]($style)"
style = "fg:red bold"
disabled = false

[git_branch]
symbol = " "
style = "bold fg:yellow"
format = "[ $symbol$branch(:$remote_branch) ]($style)"


